.cat-0{
    background-color: lightblue;

}

.cat-1{
    background-color: lightcyan;

}

.cat-2{
    background-color: lightcoral;

}

.cat-3{
    background-color: lightpink;

}

.cat-4{
    background-color: lightseagreen;

}

.cat-5{
    background-color: coral;

}