header{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $color-header;
    padding:15px 30px;

    h1 {
        color: $color-white;
    }

.header-nav{

    .setting-icon{
        font-size: 3rem;
        color: white;
        cursor: pointer;
    }
        a {
            font-size: 2rem;
            margin: 0 2rem;
        }
}


}
