.past-date {
  .planner-workouts-container{

    background-color: gray;
  }
}

.current-date {
  
  .planner-day-title{
    background-color: $color-hot-pink;
    padding: 0 10px;
    border-radius: 15px;
    color: white;
  }
  .planner-workouts-container{

    background-color: white;
  }

}

.future-date {
  .planner-workouts-container{

    background-color: white;
  }
}


#planner {
  width: 85%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;

  #planner-header {
      display: flex;
      flex-direction: row;
      align-items: center;

      button{
          width: 25px;
          height: 25px;
          
      }
  }

  .time-period-title {
    padding: 20px;
  }

  #planner-days {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .planner-day {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 14%;

      .planner-day-title {
        padding: 1rem;
        margin: 1rem;
      }

      h3 {
        padding-bottom: 1rem;
      }

      .planner-workouts-container {
        width: 100%;
        border: 1px solid black;
      }
    }
  }
}
