.cat-0{
    background-color: $color-yellow;

}

.cat-1{
    background-color: $color-orange;

}

.cat-2{
    background-color: $color-orange;

}

.cat-3{
    background-color: lightpink;

}

.cat-4{
    background-color: $color-mint;

}

.cat-5{
    background-color: coral;

}