@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  :root {
    $color-text: #282c34;
    $color-background: white;
    $color-text-area: white;

    $color-link-unvisited: hsl(180, 100%, 25%);
    $color-linke-visited: hsl(270, 100%, 25%);

  }
}

@media (prefers-color-scheme: dark) {
  :root {
    $color-text: white;
    $color-background:#282c34;
    $color-text-area: white;

    $color-link-unvisited: hsl(180, 100%, 25%);
    $color-linke-visited: hsl(270, 100%, 25%);
  }
}
