.cancel{
    background-color: red;
}

.save {

}

.icon{
font-size: 2rem;
color: gray;
padding-right: .5rem;
}

.hidden{
    display: none
}

.tall-input{
    height: 6rem;
    text-align: left;
    vertical-align: top;
}