@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Bungee+Shade&family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font-title: 'Bungee Outline', serif;
$font-headers: 'Poppins', serif;
$font-text: 'Poppins', serif;

$color-blue: #39ABFD;
$color-orange: #ea6227;
$color-yellow: #F3D849;
$color-mint: #b9ebcc;
$color-black: #191718;
$color-white: #F5F7F7;
$color-gray: #E0E5E9;
$color-hot-pink: #FD3972;

$color-text: $color-black;
$color-background: $color-white;
$color-header: $color-hot-pink;