@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

$font-title:'Roboto Slab', serif;
$font-headers: 'Roboto Slab', serif;
$font-text: sans-serif;

$color-light-blue: #A5F4EB;