header {
  color: $color-nav;
  background: $color-header;
  padding: 0 50px;
  box-shadow: $box-shadow-main;

  .header-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    margin: 0 auto;

    .header-logo {
      color: $color-title;
      font-size: 3.2rem;
      cursor: pointer;
    }

    .header-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .nav-item {
        .nav-link {
          font-size: 1.6rem;
          display: block;
          padding: 2rem;
          
          .dropdown-arrow{
            color: $color-white;
            padding-left: 4px;
            padding-top: 8px;

          }
        }


        .dropdown-links {
          background-color: #fff;
          position: absolute;
          display: none;
          max-height: 445px;
          overflow-x: hidden;
          overflow-y: auto;
          color: $color-text;
          background-color: $color-background;
          font-size: 1.6rem;

          a {
            font-size: 1.4rem;
            display: block;
            padding: 1.5rem;
            border-bottom: $border-main;
          }
        }
        &:hover {
          background: $color-background;
          color: $color-black;

          .dropdown-arrow{
            color: $color-black;
          }

          .dropdown-links {
            display: block;
            box-shadow: $box-shadow-main;

            a{
              &:hover{
                background-color: $color-gray;
                color: $color-blue;
                border-right: 5px solid $color-blue;
      
              }
            }
          }
        }
      }

      .setting-icon {
        font-size: 3rem;
        color: white;
        cursor: pointer;
      }

      .header-btn{
        margin: 1.5rem;
        background: $color-background;
        color: $color-dark-blue;
      }
    }
  }
}
